---
const github = "github";
const linkedin = 'linkedin';
const username = "gmagnenat";
---
<footer class="text-center py-4 flex flex-col gap-2">
  <p>Learn more about my projects on <a target="_blank" href={`https://www.${github}.com/${username}`}>{github}</a>!</p>
  <p>Get in touch on <a target="_blank" href={`https://www.${linkedin}.com/in/${username}`}>{linkedin}</a></p>
</footer>